assets/
plugins/
updates/
config/Dressme/
docs/
logs/
screenshots/
addons/distance/
addons/fps/
addons/tparty/
addons/timestamp/
addons/recast/
addons/petinfo/
addons/onevent/
addons/libs/socket/
addons/libs/json/
addons/libs/ffxi/
addons/libs/timer.lua
addons/libs/tableex.lua
addons/libs/stringex.lua
addons/libs/socket.lua
addons/libs/settings.lua
addons/libs/mime.lua
addons/libs/mathex.lua
addons/libs/ltn12.lua
addons/libs/logging.lua
addons/libs/imguidef.lua
addons/libs/common.lua
addons/repeater/*
